#Fastapi
fastapi
uvicorn
python-multipart

#LangChain
langchain
langchain_community

# Indicamos a pip que también busque paquetes en el repositorio de PyTorch para CUDA 12.4
--extra-index-url https://download.pytorch.org/whl/cu124

# Listamos los paquetes de PyTorch normalmente
torch
torchvision
torchaudio

#Utils
transformers
accelerate
huggingface_hub[cli]
huggingface_hub[hf_xet]