#Fastapi
fastapi
uvicorn
python-multipart

#LangChain
langchain
langchain_community

# Indicamos a pip que también busque paquetes en el repositorio de PyTorch para CUDA 12.4
# Esto se define al corroborar la version de CUDA del sistema mediante el cmd con el comando: nvidia-smi
--extra-index-url https://download.pytorch.org/whl/cu124

# Listamos los paquetes de PyTorch normalmente
 torch==2.6.0+cu124
 torchvision==0.21.0+cu124
 torchaudio==2.6.0+cu124

#Utils
transformers
accelerate
huggingface_hub[cli]
huggingface_hub[hf_xet]
matplotlib 
tiktoken
einops
transformers_stream_generator
safetensors   # La librería puede acceder a los pesos directamente desde el archivo en el disco como si estuvieran en la RAM